@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: linear-gradient(180deg, #000000, #4d0000); /* uniform gradient */
  background-attachment: fixed; /* prevents cut-off when scrolling */
}


.ephesis-regular {
  font-family: 'Ephesis', cursive;
  font-size: 3.5rem;
  color: #d9ff00;
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.logo {
  height: 80px;
}

.home-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

main {
  flex: 1;
  text-align: center;
  padding: 60px 20px 40px;
}

.animation-container {
  margin-bottom: 10px;
}

.confirmation-text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 14px;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer p {

  gap: 5px;
  margin: 7px;
}

footer img {
  width: 16px;
  vertical-align: middle;
}